/*body {
    background: white;
}*/

.print {
    display: none;

    /*max-width: 65.25em;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
    font-size: 12pt;
    font-size: 2em;*/
}
