
@{
    ViewBag.Title = "Changes";
}
<div ng-controller="DemographicsController as vm" ng-cloak>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{vm.title}}
            <small>{{vm.description}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Updates</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header">
                        <h3 class="box-title">{{vm.subTitle}}</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <button class="btn btn-warning" ng-click="vm.deleteAll()">Update All</button>
                        <table class="table">
                            <thead class="text-nowrap">
                            <tr>
                                <th>LookupId</th>
                                <th>FinderNumber</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>City </th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Updated By</th>
                                <th>Source</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="d in vm.demographics">
                                <td>{{d.lookupId}}</td>
                                <td>{{d.finderNumber}}</td>
                                <td>{{d.name}}</td>
                                <td>
                                    <address>
                                        {{d.address}}
                                        <br>
                                        {{d.address2}}<br>
                                        {{d.address3}}
                                    </address>
                                </td>
                                <td>{{d.city}}</td>
                                <td>{{d.state}}</td>
                                <td>{{d.zipcode}}</td>
                                <td>{{d.email}}</td>
                                <td>{{d.phone}}</td>
                                <td>{{d.updatedBy}}</td>
                                <td>{{d.source}}</td>
                                <td>
                                    <button class="btn btn-default" ng-click="vm.delete(d)">Update</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    </div>
                    <!-- ./box-footer -->
                    <div class="overlay" ng-show="vm.isBusy">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>