
@{
    ViewBag.Title = "Mailers";
}

<div ng-controller="MailerController as vm" ng-cloak>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{vm.title}}
            <small>{{vm.description}}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">{{vm.title}}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-default box-solid">
                    <div class="box-header">
                        <h3 class="box-title">{{vm.subTitle}}</h3>
                        <small>({{vm.searchModel.filteredCount}} / {{vm.searchModel.totalCount}}) Total Records</small>
                        <span class="pull-right">
                            <small>Page {{vm.searchModel.page}} of {{vm.searchModel.totalPages}}</small>
                        </span>

                    </div><!-- /.box-header -->
                    <div class="box-body" st-table="vm.mailers" st-pipe="vm.search">

                        <div class="row">
                            <div class="col-md-9 col-sm-9">
                                <div class="form-group">
                                    <span>
                                        <button class="btn btn-primary" st-submit-search>
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                        <button class="btn btn-default" st-reset-search ng-model="vm.searchModel">Clear</button>
                                    </span>
                                    <button class="btn btn-default"
                                            ng-class="{ 'btn-warning': vm.showSuppress, 'btn-default': !vm.showSuppress }"
                                            ng-click="vm.toggleFilter()"
                                            uib-popover="{{vm.showSuppress ? 'Show Clear Mailers' : 'Show Suppressed Mailers'}}"
                                            popover-trigger="mouseenter">
                                        <i class="fa fa-eye"></i> Suppress List
                                    </button>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">

                                <div class="pull-right">
                                    <div class="form-group">
                                        <button class="btn" ng-click="vm.showUpload()"><i class="fa fa-cloud-upload"></i> Upload</button>
                                        <button class="btn btn-info" ng-click="vm.download()">
                                            <i class="fa fa-download"></i>
                                            Export
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-12">
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="sort-header"></th>
                                            <th class="sort-header" st-sort="firstName">First Name</th>
                                            <th class="sort-header" st-sort="lastName">Last Name</th>
                                            <th class="sort-header">Address</th>
                                            <th class="sort-header" st-sort="city">City</th>
                                            <th class="sort-header" st-sort="state">State</th>
                                            <th class="sort-header" st-sort="zipCode">ZipCode</th>
                                            <th class="sort-header" st-sort="finderNumber">Finder Number</th>
                                            <th class="sort-header" st-sort="sourceCode">Source Code</th>
                                            <th class="sort-header" st-sort="campaignId">Campaign</th>
                                            <th class="sort-header" st-sort="reasonId">Reason</th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <toggle st-search="suppress" ng-model="vm.toggleSuppress" ng-change="vm.filterSuppress()"></toggle>
                                            </th>
                                            <th><input st-clear-key ng-model="vm.searchModel.firstName" class="form-control" placeholder="First Name" /></th>
                                            <th><input st-clear-key ng-model="vm.searchModel.lastName" class="form-control" placeholder="Last Name" /></th>
                                            <th><input st-clear-key ng-model="vm.searchModel.address" class="form-control" placeholder="Address" /></th>
                                            <th><input st-clear-key ng-model="vm.searchModel.city" class="form-control" placeholder="City" /></th>
                                            <th><input st-clear-key ng-model="vm.searchModel.state" class="form-control" placeholder="State" /></th>
                                            <th><input st-clear-key ng-model="vm.searchModel.zipCode" style="width: 100px;" class="form-control" placeholder="Zipcode" /></th>
                                            <th><input st-clear-key ng-model="vm.searchModel.finderNumber" style="width: 120px;" class="form-control" placeholder="Finder Number" /></th>
                                            <th><input st-clear-key ng-model="vm.searchModel.sourceCode" class="form-control" placeholder="Source Code" /></th>
                                            <th>
                                                <select st-clear-key class="form-control" ng-model="vm.searchModel.campaignId"
                                                        ng-options="campaign.id as campaign.name for campaign in vm.campaigns"></select>
                                            </th>
                                            <th style="width: 100px;">
                                                <select st-clear-key class="form-control" ng-model="vm.searchModel.reasonId"
                                                        ng-options="reason.id as reason.name for reason in vm.reasons"></select>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="m in vm.mailers">
                                            <td>
                                                <button class="btn" ng-class="m.suppress ? 'btn-warning' : 'btn-primary'" ng-click="vm.toggleSuppress(m)" uib-popover="{{m.suppress ? 'Clear' : 'Suppress'}}" popover-trigger="mouseenter" popover-placement="right">
                                                    <span ng-hide="m.suppress"><i class="icon ion-android-hand"></i> </span>
                                                    <span ng-show="m.suppress"><i class="icon ion-ios-flag"></i> </span>
                                                </button>
                                            </td>
                                            <td>{{m.firstName}}</td>
                                            <td>{{m.lastName}}</td>
                                            <td>
                                                <address>
                                                    {{m.address}}
                                                    <br>
                                                    {{m.address2}}<br>
                                                    {{m.address3}}
                                                </address>
                                            </td>
                                            <td>{{m.city}}</td>
                                            <td>{{m.state}}</td>
                                            <td>{{m.zipCode}}</td>
                                            <td>{{m.finderNumber}}</td>
                                            <td>{{m.sourceCode}}</td>
                                            <td>{{m.campaign.name}}</td>
                                            <td>{{m.reason.name}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="11" class="text-center">
                                                <uib-pagination total-items="vm.searchModel.filteredCount"
                                                                ng-model="vm.searchModel.page"
                                                                ng-show="vm.searchModel.totalPages > 1"
                                                                max-size="5"
                                                                items-per-page="vm.searchModel.pageSize"
                                                                class="pagination-sm"
                                                                boundary-link-numbers="true"
                                                                ng-change="vm.paged()"
                                                                rotate="false">
                                                </uib-pagination>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                    </div>
                    <!-- ./box-footer -->
                    <div class="overlay" ng-show="vm.isBusy">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

