

<header>
    <div class="container">
        <a class="logo hidden-print" href="http://www.splcenter.org"></a>
        <div class="nav-toggle hidden-print">
            <a href="#"><i class="fa fa-bars"></i></a>
        </div>
    </div>
    <nav class="main-nav hidden-print">
        <div class="container">
            <ul>
                <li>
                    <a href="http://www.splcenter.org/what-we-do">What We Do</a>
                </li>
                <li>
                    <a href="http://www.splcenter.org/our-issues">Our Issues</a>
                </li>
                <li>
                    <a href="http://www.splcenter.org/resources">Resources</a>
                </li>
                <li>
                    <a href="http://www.splcenter.org/hate-map">Hate Map</a>
                </li>
            </ul>
        </div>
    </nav>


    <img class="pull-left visible-print" src="~/img/SPLC_LOGO.png" alt="SPLC Logo" width="300" />

    <div class="visible-print pull-right" style="padding-bottom: 30px;">
        <div class="small red">
            Fighting Hate <br />
            Teaching Tolerance<br />
            Seeking Justice<br />
        </div>
        <br />
        <div class="small">
            Southern Poverty Law Center <br />
            400 Washington Avenue<br />
            Montgomery, AL 36104<br />
            334.956.8200<br />
            splcenter.org
        </div>
        <div class="clearfix"></div>
    </div>

</header>