<form name="editGuestForm" novalidate>

    <div class="modal-header">
        <h3 class="modal-title">{{vm.guest.name}}</h3>
    </div>
    <div class="modal-body">

        <fieldset>
            <legend>Request</legend>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div class="form-group">
                        <label class="control-label">Tickets Requested</label>
                        <input type="number" name="guestCount" class="form-control" ng-model="vm.guest.guestCount"
                               max="{{vm.event.ticketAllowance}}"
                               min="0"
                               ng-change="vm.changeAttending()" />
                        <div ng-messages="editGuestForm.guestCount.$error" ng-messages-multiple class="error-messages" ng-show="editGuestForm.guestCount.$dirty">
                            <div ng-message="max">Max of {{vm.event.ticketAllowance}} per guest allowed</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="form-group">
                        <label class="control-label">Attending?</label>
                        <div class="clearfix" style="width: 100%;">

                            <input toggle-checkbox type="checkbox"
                                   ng-change="vm.changeAttending()"
                                   data-toggle="toggle"
                                   data-on="YES" data-off="NO"
                                   ng-model="vm.guest.isAttending"
                                   data-onstyle="success"
                                   data-offstyle="danger" style="width: 125px !important; height: 34px;">
                        </div>

                    </div>
                </div>
                <div class="col-md-12 col-sm12" ng-show="vm.isFull">
                    <div class="alert alert-info">
                        No space left. Guest will be added to waiting list
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Contact</legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" ng-model="vm.guest.name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="text" class="form-control" ng-model="vm.guest.email" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Phone</label>
                        <input type="text" class="form-control" ng-model="vm.guest.phone" />
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>
                Address
            </legend>

            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">Street</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Address Line 1" class="form-control" ng-model="vm.guest.street">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">Street</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Address Line 2" class="form-control" ng-model="vm.guest.street2">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">Street</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Address Line 3" class="form-control" ng-model="vm.guest.street3">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">City</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="City" class="form-control" ng-model="vm.guest.city">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="col-sm-2 control-label">State</label>
                    <div class="col-sm-4">
                        <input type="text" placeholder="State" class="form-control" ng-model="vm.guest.state">
                    </div>

                    <label class="col-sm-2 control-label">Zipcode</label>
                    <div class="col-sm-4">
                        <input type="text" placeholder="Zipcode" class="form-control" ng-model="vm.guest.zipcode">
                    </div>
                </div>
            </div>

        </fieldset><!-- /.fieldset -->



    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="editGuestForm.$pristine" ng-click="vm.save()">Save</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>


</form>


