

<div class="box no-border">
    <div class="box-header">
        <button class="btn" ng-click="vm.showGuestUpload()"><i class="fa fa-cloud-upload"></i> Upload</button>
        <!--<button class="btn btn-default" ng-class="{ 'btn-warning': vm.showWaitQueue, 'btn-default': !vm.showWaitQueue }" ng-click="vm.filterWaitingQueue()"> <i class="fa fa-clock-o"></i> Show Waiting List</button>
        <button class="btn btn-default" ng-class="{ 'btn-warning': vm.showMailQueue, 'btn-default': !vm.showMailQueue }" ng-click="vm.filterSendTicket()"> <i class="fa fa-envelope"></i> Show Send Tickets</button>
        <button class="btn btn-default" ng-class="{ 'btn-warning': vm.showTicketSent, 'btn-default': !vm.showTicketSent }" ng-click="vm.filterTicketSent()"> <i class="fa fa-paper-plane"></i> Show Tickets Sent</button>-->

        <button class="btn btn-default" ng-class="{ 'btn-warning': vm.showWaiting, 'btn-default': !vm.showWaiting }" ng-click="vm.toggleWaiting()"> <i class="fa fa-clock-o"></i> Show Waiting List</button>
        <button class="btn btn-default" ng-class="{ 'btn-warning': vm.showMail, 'btn-default': !vm.showMail }" ng-click="vm.toggleMail()"> <i class="fa fa-envelope"></i> Show Send Tickets</button>
        <button class="btn btn-default" ng-class="{ 'btn-warning': vm.showSent, 'btn-default': !vm.showSent }" ng-click="vm.toggleSent()"> <i class="fa fa-paper-plane"></i> Show Tickets Sent</button>

        <span class="pull-right">
            <button class="btn btn-default" ng-click="vm.refreshGuests()">
                <i class="fa fa-refresh"></i>
                Refresh
            </button>
            <button class="btn btn-info" ng-click="vm.exportGuests()">
                <i class="fa fa-download"></i>
                Export
            </button>
</span>
        
    </div>
    <div class="box-body">

        <table st-table="vm.selectedEvent.guests" st-pipe="vm.searchGuests" class="table table-striped table-bordered table-hover">

            <thead class="text-nowrap">
                <tr>
                    <th st-sort="name">Name</th>
                    <th>Address</th>
                    <th st-sort="city">City</th>
                    <th st-sort="state">State</th>
                    <th st-sort="zipcode">Zipcode</th>
                    <!--<th st-sort="ticketIssued">Ticket</th>-->
                    <th st-sort="ticketCount">Guests</th>
                    <th st-sort="email">Email</th>
                    <th st-sort="phone">Phone</th>
                    <th st-sort="accountId">Account Id</th>
                    <th st-sort="finderNumber">Finder Number</th>
                    <th>Comments</th>
                    <th></th>
                </tr>
                <tr>
                    <td><input type="search" st-search="name" class="form-control" placeholder="Name" /></td>
                    <td><input type="text" st-clear-key st-search="address" class="form-control" placeholder="Address" /></td>
                    <td><input type="text" st-clear-key st-search="city" class="form-control" placeholder="City" /></td>
                    <td><input type="text" st-clear-key st-search="state" class="form-control" placeholder="State" /></td>
                    <td><input type="text" st-clear-key st-search="zipcode" class="form-control" placeholder="Zipcode" /></td>
                    <!--<td width="80">
                        <select st-search="isMailed" class="form-control">
                            >
                            <option value="" selected="">All</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </td>-->

                    <td><input type="text" class="form-control" placeholder="Guests" /></td>
                    <td><input type="text" st-clear-key st-search="email" class="form-control" placeholder="Email" /></td>
                    <td><input type="text" st-clear-key st-search="phone" class="form-control" placeholder="Phone" /></td>
                    <td><input type="text" st-clear-key st-search="accountId" class="form-control" placeholder="Account Id" /></td>
                    <td><input type="text" st-clear-key st-search="finderNumber" class="form-control" placeholder="Finder Number" /></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="g in vm.selectedEvent.guests">
                    <td>{{g.name}}</td>
                    <td>
                        <address>
                            {{g.address}}
                            <br>
                            {{g.address2}}<br>
                            {{g.address3}}
                        </address>
                    </td>
                    <td>{{g.city}}</td>
                    <td>{{g.state}}</td>
                    <td>{{g.zipcode}}</td>
                    <!--<td>
                        <span class="center-block text-center">
                            {{g.isMailed | checkmark}}
                        </span>
                    </td>-->
                    <td class="text-center">{{g.ticketCount}}</td>
                    <td>{{g.email}}</td>
                    <td>{{g.phone}}</td>
                    <td>{{g.accountId}}</td>
                    <td>{{g.finderNumber}}</td>
                    <td class="text-center">
                        <i ng-show="g.comment.length > 0" class="fa fa-comment" uib-popover="{{g.comment}}" popover-trigger="mouseenter"></i>
                    </td>
                    <td>
                        <button class="btn btn-block" ng-show="g.isWaiting" ng-click="vm.addToMailQueue(g)"><i class="fa fa-list"></i> Move to Send</button>
                        <button class="btn btn-block" ng-show="g.isAttending && !g.isMailed && !g.isWaiting" ng-click="vm.mailTicket(g)"><i class="icon ion-android-mail"></i> Send Ticket</button>
                        <button class="btn btn-block" ng-show="!g.isAttending && !g.isWaiting" ng-click="vm.registerGuest(g)"><i class="fa fa-key"></i> Register</button>
                        <span ng-show="g.isMailed"><i class="fa fa-check-circle fa-2x text-green center-block text-center"></i></span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="12" class="text-center">
                        <uib-pagination total-items="vm.searchModel.filteredCount"
                                        ng-model="vm.searchModel.page"
                                        ng-show="vm.searchModel.totalPages > 1"
                                        max-size="5"
                                        items-per-page="vm.searchModel.pageSize"
                                        class="pagination-sm"
                                        boundary-link-numbers="true"
                                        ng-change="vm.paged()"
                                        rotate="false">
                        </uib-pagination>
                    </td>
                </tr>
            </tfoot>
        </table>


    </div>
</div>
