<style>
    legend {
        padding: 10px 0;
    }
</style>
<script type="text/javascript" src="https://rawgit.com/betsol/angular-input-date/master/src/angular-input-date.js"></script>


<form novalidate name="detailsForm">
    <div class="box no-border">

        <div class="box-body">

            <div class="row">
                <div class="col-md-3 col md-6 col-xs-12">
                    <div class="info-box bg-green">
                        <span class="info-box-icon">
                            <i class="fa fa-key"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Guests Registered</span>
                            <span class="info-box-number">{{vm.selectedEvent.guestAttendanceCount}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col md-6 col-xs-12">
                    <div class="info-box  bg-red">
                        <span class="info-box-icon">
                            <i class="fa fa-clock-o"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Guests Waiting</span>
                            <span class="info-box-number">{{vm.selectedEvent.guestWaitingCount}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col md-6 col-xs-12">
                    <div class="info-box bg-blue">
                        <span class="info-box-icon ">
                            <i class="fa fa-envelope"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Tickets Mailed</span>
                            <span class="info-box-number">{{vm.selectedEvent.ticketMailedCount}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col md-6 col-xs-12">
                    <div class="info-box bg-yellow">
                        <span class="info-box-icon ">
                            <i class="fa fa-ticket"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">Tickets Remaining</span>
                            <span class="info-box-number">{{vm.selectedEvent.ticketRemainingCount}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-warning" role="alert" ng-show="vm.selectedEvent.isExpired">
                        <i class="fa fa-exclamation-triangle"></i> Expired
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <fieldset>
                        <legend>General</legend>
                        <div class="form-group">
                            <label class="control-label">
                                Name - Url
                            </label>
                            <input type="text" class="form-control" ng-model="vm.selectedEvent.name" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Display Name 
                            </label>
                            <input type="text" class="form-control" ng-model="vm.selectedEvent.displayName" />
                        </div>


                        <div class="form-group">
                            <label class="control-label">
                                Venue
                            </label>
                            <input type="text" class="form-control" ng-model="vm.selectedEvent.venue" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Speaker
                            </label>
                            <input type="text" class="form-control" ng-model="vm.selectedEvent.speaker" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Capacity
                            </label>
                            <input type="number" class="form-control" ng-model="vm.selectedEvent.capacity" />
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Tickets Allowed
                            </label>
                            <input type="text" class="form-control" ng-model="vm.selectedEvent.ticketAllowance" />
                        </div>

                    </fieldset><!-- /.fieldset -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <fieldset>
                        <legend>
                            Venue Location
                        </legend>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-2 control-label">Street</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="Address Line 1" class="form-control" ng-model="vm.selectedEvent.street">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-2 control-label">City</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="City" class="form-control" ng-model="vm.selectedEvent.city">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-2 control-label">State</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="State" class="form-control" ng-model="vm.selectedEvent.state">
                                </div>

                                <label class="col-sm-2 control-label">Zipcode</label>
                                <div class="col-sm-4">
                                    <input type="text" placeholder="Post Code" class="form-control" ng-model="vm.selectedEvent.zipcode">
                                </div>
                            </div>
                        </div>

                    </fieldset><!-- /.fieldset -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-4">
                    <fieldset>
                        <legend>
                            Event Date/Times
                        </legend>

                        <div class="form-group">
                            <label class="control-label">
                                Event Start Date/Time
                            </label>

                            <div class="dropdown">
                                <a href="" class="dropdown-toggle start-toggle-select" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="vm.selectedEvent.startDate" date-input="{{vm.dateFormat}}" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="vm.selectedEvent.startDate"
                                                    date-format
                                                    data-datetimepicker-config="{ dropdownSelector: '.start-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Event End Date/Time
                            </label>
                            <div class="dropdown">
                                <a href="" class="dropdown-toggle end-toggle-select" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="vm.selectedEvent.endDate" date-input="{{vm.dateFormat}}" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="vm.selectedEvent.endDate"
                                                    date-format
                                                    data-datetimepicker-config="{ dropdownSelector: '.end-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Venue Doors Open Date/Time
                            </label>

                            <div class="dropdown">
                                <a href="" class="dropdown-toggle venue-toggle-select" role="button" data-toggle="dropdown" data-target="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="vm.selectedEvent.venueOpenDate" date-input="{{vm.dateFormat}}" datepicker-config="vm.dateOptions" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="vm.selectedEvent.venueOpenDate"
                                                    ui-date="{ dateFormat: 'MM/DD/YYYY h:mm a' }"
                                                    data-datetimepicker-config="{ dropdownSelector: '.venue-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Registration Close Date/Time
                            </label>

                            <div class="dropdown">
                                <a href="" class="dropdown-toggle regclose-toggle-select" role="button" data-toggle="dropdown" data-target="#">

                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="vm.selectedEvent.registrationCloseDate" date-input="{{vm.dateFormat}}" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="vm.selectedEvent.registrationCloseDate"
                                                    date-format
                                                    data-datetimepicker-config="{ dropdownSelector: '.regclose-toggle-select' }"></datetimepicker>
                                </ul>
                            </div>
                        </div>

                    </fieldset><!-- /.fieldset -->
                </div><!-- /.col-md-4 -->

            </div>

            <!--<div class="row">
                <div>
                    <pre>{{detailsForm | json}}</pre>
                </div>
            </div>-->

        </div><!-- /.box-body -->

        <div class="box-footer">
            <div class="pull-left">
                <button class="btn"
                        ng-disabled="vm.selectedEvent.isExpired"
                        ng-hide="vm.selectedEvent.isExpired"
                        ng-class="{'btn-success' : vm.selectedEvent.isCancelled, 'btn-warn' : !vm.selectedEvent.isCancelled }"
                        ng-click="vm.toggleCancel(detailsForm)">
                    <i class="fa fa-exclamation-triangle"></i>
                    {{vm.selectedEvent.isCancelled ? 'Restore Event' : 'Cancel Event'}}
                </button>
            </div>
            <div class="pull-right">
                <button class="btn btn-danger" ng-click="vm.deleteEvent(vm.selectedEvent.id)"
                        confirm="Delete {{vm.selectedEvent.name}} Event?" confirm-settings="{size: 'sm'}">
                    <i class="fa fa-trash"></i> Delete
                </button>
                <button class="btn btn-primary" ng-click="vm.saveEvent(detailsForm)" ng-disabled="detailsForm.$pristine"><i class="fa fa-save"></i> Save</button>
            </div>
        </div><!-- /.box-footer-->

    </div><!-- /.box -->
</form><!-- /.form -->
